#inputSection {
    display: inline-block;
}

body {
    font-size: 1.25rem;
    /* line-height: 150%; */
    text-align: center;
    padding: 1%;
}

.container {
    display: table;
    max-height: 100%;
    width: 75%;
}

div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

span {
    display: flex;
    flex-flow: row wrap;
}

.left-half {}

.right-half {}

.halves {
    outline: black solid 1px;
}