div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

span {
    display: flex;
    flex-flow: row wrap;
}

article {
    height: 250px;
    padding: 0px;
}

body {
    font-size: 1.25rem;
    width: 800px;
    text-align: center;
}

#inputSection {
    display: inline-block;
}

.container {
    display: table;
    height: 200px;
    width: inherit;
}

#eventArticle {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.left-half {}

.right-half {}

.halves {
    outline: black solid 1px;
    width: 50%;
}

.hf {
    width: inherit;
    background-color: lightcoral;
}