{% load static %}
<!DOCTYPE html>
<html lang="en">

<!--==================-->
<!-- The Head Section -->
<!--==================-->

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{% static 'blog/style.css'%}">
	<title>About Me</title>
</head>

<body>
	<div class="linksection">
		<p>
			<a class="links" href="{% url 'index' %}">
				<img id="homeicon" alt="icon of a home" src="{% static "blog/home_icon.png" %}">Home</a>

            <a class="links" href="{% url 'archive' %}">
				<img id="scrollicon" alt="picture scroll" src="{% static "blog/scroll_icon.png" %}">Archive</a>

            {% comment %} <a class="links" href="{% url 'sepuku' %}">
                <img id="bombicon" alt = "icon of bomb" src="{% static "blog/bomb_icon.png" %}">Nuke It</a> {% endcomment %}

            <a class="links" href="{% url 'init' %}">
                <img id="babyicon" alt = "icon of baby" src="{% static "blog/baby_icon.png" %}">Init</a>

			{% comment %} <a class="links" href="{% url 'about' %}">
				<img id="rrhead" alt="robbie rotten's head" src="{% static "blog/rr_head.png" %}">About Me</a> {% endcomment %}  
        </p>
	</div>
	<!-- <br> -->
	<!--================-->
	<!-- The Page Title -->
	<!--================-->
	<h1 id="aboutmetitle">About Me:</h1>
	<h4 id="datetime">The current time is: {{ now }}</h4>

	<!--==================-->
	<!-- The Box of Links -->
	<!--==================-->


	<!--================-->
	<!-- Portrait Image -->
	<!--================-->
	<div id="portraitbox" style="text-align: center">
		<img id=portrait src="{% static "blog/rr_portrait.jpg"%}" alt="robbie rotten portrait" height="300">
	</div>


	<!--==================-->
	<!-- Bio Text Section -->
	<!--==================-->
	<div class="biographicalsketch">
		<h3>Biographical Sketch</h3>
		<p>In pellentesque, turpis eget convallis faucibus, ligula dolor vehicula ipsum, vitae gravida justo arcu porta magna. Etiam
			rutrum placerat enim at laoreet. Nullam id odio elit. Integer aliquam, nisi id tristique pretium, odio ipsum tempor metus,
			non semper turpis enim ac ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			Sed ultrices, est a rhoncus suscipit, velit libero semper magna, eu imperdiet nunc nunc vel odio. Integer vel enim cursus,
			egestas ex eget, maximus risus. Vivamus fringilla blandit sem a placerat. Etiam non sodales libero, ut pharetra nisl.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit leo nunc, vel euismod lorem faucibus quis.</p>
	</div>

	<!--==================-->
	<!-- Interest Section -->
	<!--==================-->
	<h3>My Interests:</h3>
	<!-- Data for the Favorite Animal -->
	<h4>Favorite Animal:</h4>
	<img src="{% static "blog/rr_cow.PNG"%}" alt="robbie rotten as a cow" height="200">
	<!-- Data for Activities -->
	<h4>Favorite Activities:</h4>
	<img src="{% static "blog/rr_balloon.PNG"%}" alt="robbie rotten tying balloon animals" height="200">
	<img src="{% static "blog/rr_parachute.PNG"%}" alt="robbie rotten parachuting" height="200">
	<img src="{% static "blog/rr_climbing.PNG"%}" alt="robbie rotten climbing a tree" height="200">
	<br>

	<!--===========================-->
	<!-- Data for the Catch Prases -->
	<!--===========================-->
	<h3>Catch Phrases:</h3>
	<ol id="catchlist">
		<li>LazyTown is the laziest town on the planet, and I'm gonna keep it that way!</li>
		<li>Now kids, stand up, turn your book around, sit down AND... fall asleep</li>
		<li>This will be as easy as stealing candy from a baby, and I should know.</li>
		<li>Click click as fast as you can! You can't catch me, I'M COMPUTERIZED MAN!</li>
	</ol>
</body>

</html>